{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Responsive CV</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
      integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/first_temp.css' %}"
    />
  </head>
  <body>
    <div class="container">
      <div class="left_Side">
        <div class="profileText">
          <h2>
            {{data.first_name}}{{data.last_name}}<br /><span
              >{{data.profession}}</span
            >
          </h2>
        </div>

        <div class="contactInfo">
          <h3 class="title">Contact Info</h3>
          <ul>
            <li>
              <span class="icon"
                ><i class="fa fa-phone" aria-hidden="true"></i
              ></span>
              <span class="text">{{data.phone_number}}</span>
            </li>
            <li>
              <span class="icon"
                ><i class="fa fa-envelope-o" aria-hidden="true"></i
              ></span>
              <span class="text">{{data.email}}</span>
            </li>
            <li>
              <span class="icon"
                ><i class="fa fa-globe" aria-hidden="true"></i
              ></span>
              <a href="{{data.linkedin}}"
                ><span class="text">Linkedin Profile</span></a
              >
            </li>
            <li>
              <span class="icon"
                ><i class="fa fa-globe" aria-hidden="true"></i
              ></span>
              <a href="{{data.github}}"
                ><span class="text">Github Profile</span></a
              >
            </li>
            <li>
              <span class="icon"
                ><i class="fa fa-map-marker" aria-hidden="true"></i
              ></span>
              <span class="text">{{data.address}}</span>
            </li>
          </ul>
        </div>
        <div class="contactInfo education">
          <h3 class="title">Education</h3>
          <ul>
            <li>
              <h5>{{data.master_year_from}} - {{data.master_year_to}}</h5>
              <h4>{{data.master_degree}}</h4>
              <h4>{{data.university_name}}</h4>
            </li>
            <li>
              <h5>{{data.school_year_from}} - {{data.school_year_to}}</h5>
              <h4>{{data.school_degree}}</h4>
              <h4>{{data.school_name}}</h4>
            </li>
          </ul>
        </div>
        <div class="contactInfo language">
          <h3 class="title">Languages</h3>
          <ul>
            <li>
              <span class="text">{{data.lang1}}</span>
              <span class="percent">
                <div data-language="{{data.lang1}}"></div>
              </span>
            </li>
            <li>
              <span class="text">{{data.lang2}}</span>
              <span class="percent">
                <div data-language="{{data.lang2}}"></div>
              </span>
            </li>
          </ul>
        </div>
      </div>
      <div class="right_Side">
        <div class="about">
          <h2 class="title2">Profile</h2>
          <p>{{data.about}}</p>
        </div>
        <div class="about">
          <h2 class="title2">Experience</h2>
          <div class="box">
            <div class="year_company">
              <h5>{{data.company_year_from}} - {{data.company_year_to}}</h5>
              <h5>{{data.company_name}}</h5>
              <h5>{{data.company_role}}</h5>
            </div>
            <div class="text">
              <h4>{{data.company_post}}</h4>
              <p>{{data.role}}</p>
            </div>
          </div>
        </div>
        <div class="about skills">
          <h2 class="title2">Professionals skills</h2>
          <div class="box">
            <h4>{{data.skill1}}</h4>
            <div class="percent">
              <div data-knowledge="{{data.skill1}}"></div>
            </div>
          </div>
          <div class="box">
            <h4>{{data.skill2}}</h4>
            <div class="percent">
              <div data-knowledge="{{data.skill2}}"></div>
            </div>
          </div>
          <div class="box">
            <h4>{{data.skill3}}</h4>
            <div class="percent">
              <div data-knowledge="{{data.skill3}}"></div>
            </div>
          </div>
          <div class="box">
            <h4>{{data.skill4}}</h4>
            <div class="percent">
              <div data-knowledge="{{data.skill4}}"></div>
            </div>
          </div>
          <div class="box">
            <h4>{{data.skill5}}</h4>
            <div class="percent">
              <div data-knowledge="{{data.skill5}}"></div>
            </div>
          </div>
        </div>
        <div class="about interest">
          <h2 class="title2">Interests</h2>
          <ul>
            <li>
              <i class="fa fa-book" aria-hidden="true"></i> {{data.hobby1}}
            </li>
            <li>
              <i class="fa fa-book" aria-hidden="true"></i> {{data.hobby2}}
            </li>
            <li>
              <i class="fa fa-book" aria-hidden="true"></i> {{data.hobby3}}
            </li>
          </ul>
        </div>
      </div>
      <a href="download/{{data.uid}}"><button>Download Resume</button></a>
    </div>
  </body>
</html>
