{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
<link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{% static 'css/temp2.css' %}"  type="text/css" />
    <title>Document</title>
</head>
<body>
  
  {% if user.is_authenticated %}
 
  {% if messages %} {% for message in messages%}
    <div
      class="mt-3 alert alert-{{message.tags}} alert-dismissible fade show"
      role="alert"
    >
 <strong>{{message}}</strong>
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %} {% endif %}

<div class="container">
  <div class="header">
    <div class="full-name">
      <span class="first-name">{{data.first_name}}</span> 
      <span class="last-name">{{data.last_name}}</span>
    </div>
    <div class="contact-info">
      <span class="email">Email: </span>
      <a href="mailto: {{data.email}}" target="_blank"><span class="email-val">{{data.email}}</span></a>
      <span class="separator"></span>
      <span class="phone">Phone: </span>
      <a href="tel:{{data.phone_number}}" target="_blank"><span class="phone-val">{{data.phone_number}}</span></a>
    </div>
    
    <div class="about">
      <span class="position">{{data.profession}} </span>
      <span class="desc">
       {{data.about}}</span>
    </div>
  </div>
   <div class="details">
    <div class="section">
      <div class="section__title">Experience</div>
      <div class="section__list">
        <div class="section__list-item">
          <div class="left">
            <div class="name">{{data.company_post}}</div>
            <div class="addr">{{data.company_name}}</div>
            <div class="duration">{{data.company_year_from}} - {{data.company_year_to}}</div>
          </div>
          <div class="right">
            <div class="name">{{data.job_title}}</div>
            <div class="desc">{{data.role}}</div>
          </div>
        </div>
  
      </div>
    </div>
    <div class="section">
      <div class="section__title">Education</div>
      <div class="section__list">
        <div class="section__list-item">
          <div class="left">
            <div class="name">{{data.school_degree}}</div>
            <div class="addr">{{data.school_name}}</div>
            <div class="duration">{{data.school_year_from}} - {{data.school_year_to}}</div>
          </div>

        </div>


      </div>
      
  </div>
     <div class="section">
      <div class="section__title">Projects</div> 
       <div class="section__list">
         <div class="section__list-item">
           <div class="name">{{data.project_title}}</div>
           <div class="text">{{data.project_link}}</div>
         </div>
         
         
       </div>
    </div>

    <div class="section">
      <div class="section__title">
        Languages Known
        </div>
        <div class="section__list">
          <div class="section__list-item">
            <ul>
               {% for i in lang %}
                 <li style="display:inline;font-weight:600">{{i}} &nbsp;</li>
               {% endfor %}
             </ul>
             </div>
 
        </div>
      </div>
     <div class="section">
       <div class="section__title">Skills</div>
       <div class="skills">
          {% for i in skill %}
         <div class="skills__item">
           <div class="left"><div class="name">
             {{i}}
             </div></div>
           <div class="right">
                          <input  id="ck1" type="checkbox" checked/>

             <label for="ck1"></label>
                          <input id="ck2" type="checkbox" checked/>

              <label for="ck2"></label>
                         <input id="ck3" type="checkbox" />

              <label for="ck3"></label>
                           <input id="ck4" type="checkbox" />
            <label for="ck4"></label>
                          <input id="ck5" type="checkbox" />
              <label for="ck5"></label>

           </div>
         </div>
         {% endfor %}
         
       </div>
     
         
       </div>
     <div class="section">
     <div class="section__title">
       Interests
       </div>
       <div class="section__list">
         <div class="section__list-item">
           <ul>
              {% for i in hobby %}
                <li style="display:inline;font-weight:600">{{i}} &nbsp;</li>
              {% endfor %}
            </ul>
            </div>

       </div>
     </div>
     </div>
  </div>
</div>
<a href="{% url 'download' data.uid %}"><button class="btns">Download Resume</button></a>

{% else %}
<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand">Resume</a>     
    <a href="{% url 'login' %}"> <button class="btns" type="submit">Login</button></a>
</nav>
{% endif %} 

<script src="{% static 'js/main.js' %}"></script>
</body>
</html>