{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Template1</title>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive HTML5 Resume/CV Template for Developers">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">    
    <link rel="shortcut icon" href="favicon.ico">  
    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- FontAwesome JS-->
	<script defer src=" {% static 'assets4/fontawesome/js/all.min.js' %}"></script>
    <!-- Global CSS -->
    <link rel="stylesheet" href="{% static 'assets4/plugins/bootstrap/css/bootstrap.min.css' %}">   
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="{% static 'assets4/css/orbit-1.css' %}">
</head> 

<body>
    {% if user.is_authenticated %}
   
    {% if messages %} {% for message in messages%}
    <div
      class="mt-3 alert alert-{{message.tags}} alert-dismissible fade show"
      role="alert"
    >
 <strong>{{message}}</strong>
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %} {% endif %}

    <div class="wrapper mt-lg-5">
        <div class="sidebar-wrapper">
            <div class="profile-container">
                <h1 class="name">{{data.first_name}} {{data.last_name}}</h1>
                <h3 class="tagline">{{data.profession}}</h3>
            </div><!--//profile-container-->
            
            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list">
                    <li class="email"><i class="fas fa-envelope"></i><a href="mailto:{{data.email}}">{{data.email}}</a></li>
                    <li class="phone"><i class="fas fa-phone"></i><a href="tel:0123 456 789">{{data.phone_number}}</a></li>
                    <li class="linkedin"><i class="fab fa-linkedin-in"></i><a href="{{data.linkedin}}" target="_blank">Linkedin Profile</a></li>
                    <li class="github"><i class="fab fa-github"></i><a href="{{data.github}}" target="_blank">Github Profile</a></li>
                </ul>
            </div><!--//contact-container-->
            <div class="education-container container-block">
                <h2 class="container-block-title">Education</h2>
                <div class="item">
                    <h4 class="degree">{{data.master_degree}}</h4>
                    <h5 class="meta">{{data.university_name}}</h5>
	                    <div class="time">{{data.master_year_from}}-{{data.master_year_to}}</div>
                </div><!--//item-->
                <div class="item">
                    <h4 class="degree">{{data.school_degree}}</h4>
                    <h5 class="meta">{{data.school_name}}</h5>
	                    <div class="time">{{data.school_year_from}}-{{data.school_year_to}}</div>
                </div><!--//item-->
              
            </div><!--//education-container-->
            
            <div class="languages-container container-block">
                <h2 class="container-block-title">Languages</h2>
                <ul class="list-unstyled interests-list">
                    {% for i in lang %}
                    <li style="display:inline">{{i}}</li>
                    {% endfor %}
                </div><!--//interests-->
            
            <div class="interests-container container-block">
                <h2 class="container-block-title">Interests</h2>
                <ul class="list-unstyled interests-list">
                    {% for i in hobby %}
                    <li>{{i}}</li>
                    {% endfor %}
                </ul>
            </div><!--//interests-->
            
        </div><!--//sidebar-wrapper-->
        
        <div class="main-wrapper">
            
            {% comment %} <section class="section summary-section">
                <h2 class="section-title"><span class="icon-holder"><i class="fas fa-user"></i></span>Career Profile</h2>
                <div class="summary">
                    <p>Summarise your career here lorem ipsum dolor sit amet, consectetuer adipiscing elit. You can 
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab nemo officia, ex quisquam culpa similique fugit. Vitae minima optio aut saepe quod, fugiat 
                    officiis quidem. Maxime, optio voluptas corrupti quam corporis adipisci maiores quas. Mollitia fuga fugit rem ut commodi.</p>
                </div><!--//summary-->
            </section><!--//section--> {% endcomment %}
            
            <section class="section experiences-section">
                <h2 class="section-title"><span class="icon-holder"><i class="fas fa-briefcase"></i></span>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">{{data.job_title}}</h3>
                            <div class="time">{{data.company_year_from}}-{{data.company_year_to}}</div>
                        </div><!--//upper-row-->
                        <div class="company">{{data.company_name}}</div>
                    </div><!--//meta-->
                    <div class="details">
                    <p>{{data.role}}</p>   
                    </div><!--//details-->
                </div><!--//item-->
                  
             
            </section><!--//section-->
            
            <section class="section projects-section">
                <h2 class="section-title"><span class="icon-holder"><i class="fas fa-archive"></i></span>Projects</h2>
             
                <div class="item">
                    <span class="project-title"><a href="{{data.project_link}}" target="_blank">{{data.project_title}}</a></span> - <span class="project-tagline">{{data.project_tagline}}</span>    
                </div><!--//item-->
                
               </section><!--//section-->
            
            <section class="skills-section section">
                <h2 class="section-title"><span class="icon-holder"><i class="fas fa-rocket"></i></span>Skills &amp; Proficiency</h2>
                <div class="skillset"> 
                    {% for i in skill %}       
                    <div class="item">
                        <h3 class="level-title">{{i}}</h3>
                        <div class="progress level-bar">
						    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 99%" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100"></div>
						</div>                               
                    </div><!--//item-->
                    {% endfor %}
                </div>  
            </section><!--//skills-section-->
            
        </div><!--//main-body-->
    </div>
    <a href="{% url 'download' data.uid %}"><button class="btns">Download Resume</button></a>
   
    {% else %}
      <nav class="navbar navbar-light bg-light justify-content-between">
        <a class="navbar-brand">Resume</a>     
          <a href="{% url 'login' %}"> <button class="btns" type="submit">Login</button></a>
      </nav>
      {% endif %}

      
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html> 

