body {
  background: linear-gradient(
    132deg, rgb(111 78 246 / 59%) 0%, rgb(0 31 136 / 76%) 48%, rgb(255 98 67 / 82%) 100% );
}

.navbar-collapse {
  margin: auto;
  width: 50%;
}
.section-1 {
  display: flex;
}
.navbar-brand {
  color: red;
}

.left > h1 {
  font-weight: 700;
  font-size: 3.75rem;
  /* width: 44.5%; */
  margin-right: 0;
  margin-left: 7.5%;
  padding-top: 12.3125rem;
  line-height: 120%;
  color: white;
}

.left > p {
  max-width: 27.6875rem;
  margin-bottom: 2.25rem;
  color: white;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 140%;

  margin-right: 0;
  margin-left: 7.5%;
}

.btns {
  background: -webkit-linear-gradient(right, #181414ad, #3f539c);
    border: none;
    border-radius: 21px;
    cursor: pointer;
    color: white;
    font-family: "Raleway SemiBold", sans-serif;
    height: 53.3px;
    margin: 0 auto;
    margin-top: 50px;
    font-weight: 600;
    letter-spacing: 0.4px;
    transition: 0.3s;
    width: 188px;
    margin-left: 7.5%;

}
.btns:hover {
  /* background: -webkit-linear-gradient(right, #513cf1, #f2777d); */
  color: white;
  background: -webkit-linear-gradient(left, #221e1e, #3f539c);
  border: none;
  outline: none;
  /* transition: 0.6s; */
}
.right > img {
  width: 90%;
}

/* Add Zoom Animation */
#animate {
  animation: animatezoom 0.6s;
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.cancel_btn {
  background-color: rgba(255, 255, 255, 0.918);
  color: rgba(255, 0, 0, 0.695);
  border: 0px;
  text-align: center;
  padding: 5px;
  width: 100%;
}

/* body{background-color: yellow;} */

/*  LOGIN */

a {
  text-decoration: none;
}

label {
  font-family: "Raleway", sans-serif;
  font-size: 11pt;
  font-weight: 500;
}

#modal_login,
#modal_signup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(39, 39, 39, 0.4);
}

.modal-content {
  background-color: white;
  /* margin: 0% auto 15% auto; */
  margin: auto;
  margin-top: 30px;
  width: 30%;
  border-radius: 18px;
  padding: 40px;
}

#card-title {
  font-family: "Raleway Thin", sans-serif;
  letter-spacing: 4px;
  padding-bottom: 23px;
  padding-top: 13px;
  text-align: center;
}

#submit-btn {
  background: -webkit-linear-gradient(right, #181414ad, #3f539c);
  border: none;
  border-radius: 21px;
  cursor: pointer;
  color: white;
  font-family: "Raleway SemiBold", sans-serif;
  height: 43.3px;
  margin: 0 auto;
  margin-top: 50px;
  transition: 0.25s;
  width: 153px;
}
#submit-btn:hover {
  background: -webkit-linear-gradient(left, #181414ad, #3f539c);
}
.form {
  align-items: left;
  display: flex;
  flex-direction: column;
}
.form-border {
  background: -webkit-linear-gradient(right, #181414ad, #3f539c);
  height: 1px;
  width: 100%;
}
.form-content {
  background: #fbfbfb;
  border: none;
  outline: none;
  padding-top: 14px;
}
