<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Template Select</title>
  </head>
  <body>
    <h1>Select Templates</h1>

    <a href="{% url 'template1' id %}"><button>First Temp</button></a>
    <a href="{% url 'template2' id %}"><button>Second Temp</button></a>
    <a href="{% url 'template3' id %}"><button>third Temp</button></a>
    <a href="{% url 'template4' id %}"><button>fourth Temp</button></a>
  </body>
</html>
